<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <h1>Index</h1>
    <h2 th:text="'Hello ' + ${name} + '! Welcome to our Spa.'"></h2>
    <a th:href="@{/}">Select your services</a>
    <br>

    <h2>All Users</h2>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${userStat.index}"></td>
                <td>
                    <a th:href="@{/user/details/} + ${user.getId()}" th:text="${user.getName()}"></a>
                </td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>