<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Menu of Available Services</h2>
    <h3>Facial Tratments</h3>
    <p>
        The facial treatments bellow are recommended
        <br>
        by our aestheticians for your given skin type.
    </p>
    <table>
        <thead>
            <tr>
                <th>number</th>
                <th>Service</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="service : ${facials}">
                <tr>
                    <td th:text="${serviceStat.index}"></td>
                    <td th:text="${service}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <th:block th:if='${manipedi.equals("manicure")}'>
        <h3>MANICURE</h3>
        <p th:replace="fragments :: manicureDescription">
    </th:block>

    <th:block th:if='${manipedi.equals("pedicure")}'>
        <h3>PEDICURE</h3>
        <p th:replace="fragments :: pedicureDescription">
    </th:block>
</div>
</body>
</html>